.custom_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.custom_table td, .custom_table th, .custom_table tbody tr th  {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom_table tr:nth-child(even){background-color: #f2f2f2;}

.custom_table tr:hover {background-color: #ddd;}

.custom_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white;
} */

/*modal_table*/
/*modal_table_end*/
