@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/Roboto/webfont/roboto-regular-webfont.woff2') format('woff2'),
	url('../fonts/Roboto/webfont/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0px;
	padding: 0px;
	/*background-color: #F6F8FA;*/
	/*background-color: #e6ffe6;*/
	background-color: #f2f2f2;
	font-family: 'robotoregular';
}
#main_container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
#top_nav {
	width: 100%;
	height: 10%;
	background-color: #ffcc66; 
	overflow: hidden;
}
#side_nav {
}
#main_area {
	min-width: 100%;
	height: 85%;
	overflow: auto;
}
#footer {
	width: 100%;
	height: 5%;
	background-color: #ffcc66 
}
.main_container_box {
	width: 95%;
	/*height: 30%;*/
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main_container_title_box {
	width: 100%;
}
.card_holder {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*background-color: #ff8c66;*/
	
}
.card {
	background-color: #ffffff;
	flex-grow: 1;
	margin: 10px 5px 0px 0px;
	height: 100%;
	overflow: hidden;
	/*border-radius: 10px;*/
}
div#totals_title_box span {
	font-weight:bold;
	font-style:italic;
}
.store_name_holder {
	width: 100%;
}
.store_name {
	margin: 10px 10px 10px 10px;
	font-size: 20px;
	font-weight: bold;
}
.number_holder {
	width: 100%;
	text-align: center;
}
.products_number {
	margin: 10px 10px 10px 10px;
	font-size: 70px;
	font-weight: bold;
}
/*#categories_wrapper {
	width: 95%;
	margin: auto;
	margin-top: 20px;
}
#select_categories_box {
}
div#select_categories_box span {
	font-weight: bold;
	font-size: 12px;
	background-color: #d9ff66;
	margin: 0px 10px 0px 0px;
	padding: 5px 10px 5px 10px;
}
div#select_categories_box span:hover {
	background-color: #b3ff66;
	}*/
	.change_selector_wrapper{
		width: 95%;
		margin: auto;
		margin-top: 20px;
	}
	#comparison_low_high_buttons{
		width: 95%;
		/*margin: auto;*/
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.change_selector_box {
		/*margin: auto;*/
	}
	#spanHighlight {
		background-color: #ff6666;
	}
	div.change_selector_box span {
		font-weight: bold;
		/*font-style:italic;*/
		font-size: 12px;
		background-color: #d9ff66;
		margin: 0px 10px 0px 0px;
		padding: 5px 10px 5px 10px;
	}
	div.change_selector_box span:hover {
		background-color: #b3ff66;
	}
	div.graphWrapper canvas {
		margin: auto;
	}
	span {
		cursor: pointer;
	}
	/* Snack Bar */
	#snackbar {
		font-family: 'fira_sansregular';
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #333;
		color: #fff;
		text-align: center;
		border-radius: 2px;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}
	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
	@-webkit-keyframes fadein {
		from {bottom: 0; opacity: 0;} 
		to {bottom: 30px; opacity: 1;}
	}
	@keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}
	@-webkit-keyframes fadeout {
		from {bottom: 30px; opacity: 1;} 
		to {bottom: 0; opacity: 0;}
	}
	@keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
	/* End of Snack Bar */
	#spar_header_logo, #dave_header_logo{
		margin: 4.8px 5px 3px 10px;
		display:inline-block;
		vertical-align: top;
	}
	#dave_header_logo {
		position: relative;
	}
	#spar_header_logo {
		float: right;
	}
	#heading {
		display: inline-block;
		height: 100%;
	}
	#heading span {
		font-size: 25px;
		font-weight: bolder;
		line-height: 75px;
		/*font-style: italic;*/
	}
	/*dropdown*/
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	/*dropdown end*/
	#grofers_comparison_label, #big_basket_comparison_label, #dmart_comparison_label, #spencers_comparison_label {
		font-weight: bold;
		margin-left: 5px;
		margin-right: 5px;
	}
	table thead tr td {
		font-weight: bold;
		overflow: hidden;	
	}
	.clientHighlight {
		background-color:#ff7d52;
	}
	td {
		overflow: hidden;	
	}
	/*modal*/
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 95%; /* Could be more or less, depending on screen size */
	}
	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	#toleranceTableModal table {
		margin-bottom: 15px;
		overflow: hidden;
	}
	/*modal end*/
	.modal_heading_span {
		font-weight: bold;
		margin: 10px 0px 10px 0px;
	}